.navbar-brand
{
	font-family: 'Fredoka One', cursive;
	font-size: 30px;
	color: #53b0de;
}
.nav-link
{
	margin-left: 50px;
	color: #53b0de;
	font-family: 'Open Sans', sans-serif;
}
.navbar-light .navbar-nav .nav-link{
	color: #53b0de;
}
