<div class="d-flex justify-content-center" style="margin-top: 3em; margin-bottom: 2em;">
   <button routerLink="/main" type="button" class="btn btn-nav"><i class="fas fa-arrow-left" style="font-size: 2em">
   </i></button>
<h1>Weight Entry</h1>

<button type="button" class="btn btn-nav"><i class="fas fa-bars" style="font-size: 2em">
   </i></button></div>

<div class="d-flex justify-content-center">
   <font color="white" style="margin-right:22%">Select your location.</font>
</div>

<div class="d-flex justify-content-center">
   <button routerLink="/warehouse/weight_entry" type="button" class="btn btn-primary btn-menu border-0">
   Buda H-E-B</button>
   <button type="button" class="btn btn-primary btn-menu border-0">
   Kyle H-E-B</button>
</div>
<div class="d-flex justify-content-center">
   <button type="button" class="btn btn-primary btn-menu border-0">
   Kyle Target
   </button>
   <button type="button" class="btn btn-primary btn-menu border-0">
   Wendy's
   </button>
</div>
