<div class="d-flex justify-content-center" style="margin-top: 3em; margin-bottom: 2em;">
  <h1>Review Temperatures</h1>
</div>
<div class="d-flex justify-content-center">
<table class="table table-dark" id="table1">
    <thead>
      <tr>
        <th>Location</th>
        <th>Category</th>
        <th>At Pick Up</th>
        <th>At Drop Off</th>
        <th>Edit Temp.</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Location1</td>
        <td>Meat</td>
        <td>20°</td>
        <td>20°</td>
        <td><button type="button" class="btn btn-secondary btn-rescue">Edit</button>
        </td>
      </tr>
      <tr>
        <td></td>
        <td>Produce</td>
        <td>20°</td>
        <td>20°</td>
        <td><button type="button" class="btn btn-secondary btn-rescue">Edit</button>
        </td>
      <tr>
        <td>Location2</td>
        <td>Meat</td>
        <td>20°</td>
        <td>20°</td>
        <td><button type="button" class="btn btn-secondary btn-rescue">Edit</button>
        </td>
      </tr>
      <tr>
        <td></td>
        <td>Produce</td>
        <td>20°</td>
        <td>20°</td>
        <td><button type="button" class="btn btn-secondary btn-rescue">Edit</button>
        </td>
      </tr>
            <tr>
        <td>Location3</td>
        <td>Meat</td>
        <td>20°</td>
        <td>20°</td>
        <td><button type="button" class="btn btn-secondary btn-rescue">Edit</button>
        </td>
      </tr>
      <tr>
        <td></td>
        <td>Produce</td>
        <td>20°</td>
        <td>20°</td>
        <td><button type="button" class="btn btn-secondary btn-rescue">Edit</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
</br>
<div align="center">
 <button class="btn btn-primary btn-rescue" type="button">Submit</button></div>