<div class="d-flex justify-content-center" style="margin-top: 5em; margin-bottom: 2em;">
   <h2>Set your pickup location</h2>
</div>
{{rescue.location}}
<div class="d-flex justify-content-center">
	<button (click)="newLocation('HEB (Buda)')" type="button" class="btn btn-outline-secondary btn-rescue">HEB (Buda)</button>
</div>
<div class="d-flex justify-content-center">
	<button (click)="newLocation('HEB Plus (Kyle)')" type="button" class="btn btn-outline-secondary btn-rescue">HEB Plus (Kyle)</button>
</div>
<div class="d-flex justify-content-center">
	<button (click)="newLocation('Starbucks')" type="button" class="btn btn-outline-secondary btn-rescue">Starbucks</button>
</div>
<div class="d-flex justify-content-center">
	<button (click)="newLocation('Taco Cabana')" type="button" class="btn btn-outline-secondary btn-rescue">Taco Cabana</button>
</div>
<div class="d-flex justify-content-center">
	<button (click)="newLocation('Walmart')" type="button" class="btn btn-outline-secondary btn-rescue">Walmart</button>
</div>
<div class="d-flex justify-content-center">
	<button type="button" class="btn btn-outline-secondary btn-rescue">Back</button>
</div>
