h2 {
	font-family: "Open Sans", serif;
	color: white
}

.btn-rescue{
	font-family: "Open Sans", serif;
	font-size: 2em;
	height: 5rem;
	width: 40rem;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}
.btn-primary {
	background-color: #6A50A7
}