h2 {
	font-family: "Open Sans", serif;
	color: white
}

h3 {
	font-family: "Open Sans", serif;
	font-size: 1.7em;
	color: white
}

.btn-rescue{
	font-family: "Open Sans", serif;
	font-size: 2em;
	height: 5rem;
	width: 40rem;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}

.btn-primary {
	background-color: #5BC057
}

.btn-secondary {
	background-color: #7DB1B1
}

.rescue-form{
	margin-left: 5rem;
	margin-right: 5rem;
}

input {
	font-family: "Open Sans", serif;
	font-size: 2.5em;
	height: 5rem;
	width: 7rem;
}

label {
	font-family: "Open Sans", serif;
	font-size: 2em;
	color: white
}