<div class="d-flex justify-content-center" style="margin-top: 3em;">
   <h2>Food Rescue</h2>
</div>
<div class="d-flex justify-content-center" style="margin-bottom: 2em;">
   <h3>{{rescue.location}}</h3>
</div>
<div class="d-flex justify-content-center border-bottom">
   <div class="p-2 bd-highlight rescue-form">
      <h3>At Pickup</h3>
   </div>
   <div class="p-2 bd-highlight rescue-form">
      <form>
         <div class="form-group">
            <label for="initialMeatTemp">Meat Temp.</label>
            <input type="number" class="form-control" id="initialMeatTemp">
            <label for="initialProduceTemp">Produce Temp.</label>
            <input type="number" class="form-control" id="initialProduceTemp">
         </div>
      </form>
   </div>
</div>
<div class="d-flex justify-content-center">
   <div class="p-2 bd-highlight rescue-form">
      <h3>At Drop Off</h3>
   </div>
   <div class="p-2 bd-highlight rescue-form">
      <form>
         <div class="form-group">
            <label for="initialMeatTemp">Meat Temp.</label>
            <input type="number" class="form-control" id="initialMeatTemp">
            <label for="initialProduceTemp">Produce Temp.</label>
            <input type="number" class="form-control" id="initialProduceTemp">
         </div>
      </form>
      <button class="getRescue" (click) = "getLocation()">location</button>
      <div> {{data.location}}</div>
   </div>
</div>
