<div class="d-flex justify-content-center">
   <div class="card rounded-0 shadow-sm p-3 mb-5 bg-white rounded" style="margin-top: 5rem">
      <div class="card-header">
         Where are we going today?
      </div>
      <div class="card-body">
         <div class="text-center">
            <div class="dropdown">
               <button class="btn dropdown-toggle rounded-0" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               Select an Area
               </button>
               <div class="dropdown-menu rounded-0" aria-labelledby="dropdownMenuButton">
                  <button id="Dunbar Rec Center" (click)="updatedropdownMenuButton($event)" class="dropdown-item" type="button">Dunbar Rec Center</button>
    <button id="Another Area" (click)="updatedropdownMenuButton($event)" class="dropdown-item" type="button">Another Area</button>
    <button id="Another Area .." (click)="updatedropdownMenuButton($event)" class="dropdown-item" type="button">Another Area ..</button>               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="d-flex justify-content-center">
   <div class="card rounded-0 shadow-sm p-3 mb-5 bg-white rounded" style="margin-top: 5rem">
      <div class="card-header">
         Weight from Warehouse?
      </div>
      <div class="card-body text-center">
	<form class="form-inline justify-content-center">
		<input type="weight" class="form-control rounded-0" id="InputWeight" aria-describedby="weightHelp" style="max-width: 20em">
	</form>
      </div>
   </div>
</div>
<div class="d-flex justify-content-center">
   <div class="card rounded-0 shadow-sm p-3 mb-5 bg-white rounded" style="margin-top: 5rem">
      <div class="card-header">
         Number of Clients?
      </div>
      <div class="card-body">
	<form class="form-inline justify-content-center">

	<input type="client" class="form-control rounded-0" id="InputClient" aria-describedby="clientHelp" style="max-width: 20em">
</form>

      </div>
   </div>
</div>
