h1 {
	font-family: 'Open Sans', serif;
	font-size: 6em;
	color: white;
} 

.btn-menu {
	margin-left: 2rem;
	margin-right: 2rem;
	width: 15rem;
	height: 15rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	color: #ffffff;
}