<div class="d-flex justify-content-center" style="margin-top: 3em; margin-bottom: 2em;">
   <h1>[feed]</h1>
</div>
<div class="d-flex justify-content-center">
   <button routerLink="/rescue/district" type="button" class="btn btn-menu">
   <img src="../../assets/rescue.png" alt="food rescue button"><br><br>
   Food Rescue</button>
   <button routerLink="/warehouse/route_selection" type="button" class="btn btn-menu">
      <img src="../../assets/weight.png" alt="warehouse button"><br><br>
   Warehouse Entry</button>
</div>
<div class="d-flex justify-content-center">
   <button routerLink="/rescue/district" type="button" class="btn btn-menu">
      <img src="../../assets/distribution.png" alt="distribution button"><br><br>
   Distribution</button>
   <button routerLink="/admin/admin_menu" type="button" class="btn btn-menu">
      <img src="../../assets/admin.png" alt="admin button"> <br><br>
   Admin</button>
</div>