<div class="d-flex justify-content-center" style="margin-top: 3em; margin-bottom: 2em;">
   <h1>[feed]</h1>
</div>
<div class="d-flex justify-content-center">
   <button routerLink="/rescue/district" type="button" class="btn btn-menu"><i class="fas fa-apple-alt" style="font-size: 8em; color: #8067B7">
   </i><br><br>
   Food Rescue</button>
   <button routerLink="/warehouse/route_selection" type="button" class="btn btn-menu">
      <img src="../../assets/apple.png" alt="warehouse button"><br><br>
   Warehouse Entry</button>
</div>
<div class="d-flex justify-content-center">
   <button routerLink="/rescue/district" type="button" class="btn btn-menu"><i class="fas fa-truck" style="font-size: 8em; background-color:">
   </i><br><br>
   Distribution</button>
   <button routerLink="/admin/admin_menu" type="button" class="btn btn-menu"><i class="fas fa-tools" style="font-size: 8em">
   </i><br><br>
   Admin</button>
</div>
