h1 {
	font-family: 'Open Sans', serif;
	color: #ffffff;
} 

.route-style {
	color: #ffffff;
	text-align: left;
	background-color: #3C3B3D;
}

.list-group-item {
	background-color: #3C3B3D;
	border-radius: 0;
}

.btn-nav {
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	color: #ffffff;
	margin-left: 3em;
	margin-right: 3em;
}