<div class="d-flex justify-content-center" style="margin-top: 3em; margin-bottom: 2em;">
   <button routerLink="/main" type="button" class="btn btn-nav"><i class="fas fa-arrow-left" style="font-size: 2em">
   </i></button>
<h1>Daily Distribution</h1>

<button type="button" class="btn btn-nav"><i class="fas fa-bars" style="font-size: 2em">
   </i></button></div>

<div class="d-flex justify-content-center">
   <font color="white" style="margin-right:22%">Prepare outgoing food for partners and sites.</font>
</div>

<div class="d-flex justify-content-center">
   <button routerLink="/distribution/log" type="button" class="btn btn-primary btn-menu border-0">
   Connection Church</button>
   <button type="button" class="btn btn-primary btn-menu border-0">
   Hill Country Christian</button>
</div>
<div class="d-flex justify-content-center">

   <button type="button" class="btn btn-primary btn-menu border-0">
   Hays/Caldwell Women's Center</button>
   <button type="button" class="btn btn-primary btn-menu border-0">
   TXST FCS Dept/Bobcat Bounty</button>
</div>
<div class="d-flex justify-content-center">
   <button type="button" class="btn btn-primary btn-menu border-0">
   Hemphill Elem. School</button>
   <button type="button" class="btn btn-primary btn-menu border-0">
   Uhland Elem. School</button>
</div>
<div class="d-flex justify-content-center">
   <button type="button" class="btn btn-primary btn-menu border-0">
   San Marcos Animal Shelter</button>
   <button type="button" class="btn btn-primary btn-menu border-0" style="background-color: transparent">
   </button>
</div>
