h1 {
	font-family: 'Open Sans', serif;
	color: #ffffff;
} 

.btn-menu {
	margin-left: 2rem;
	margin-right: 2rem;
	width: 15rem;
	height: 15rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	color: #ffffff;
}

.btn-primary {
	background-color: #d8334a;
}

.btn-nav {
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	color: #ffffff;
	margin-left: 3em;
	margin-right: 3em;
}