<div class="d-flex justify-content-center" style="margin-top: 3em; margin-bottom: 2em;">
   <button routerLink="/admin/admin_menu" type="button" class="btn btn-nav"><i class="fas fa-arrow-left" style="font-size: 2em">
   </i></button>
<h1>Admin</h1>

<button type="button" class="btn btn-nav"><i class="fas fa-bars" style="font-size: 2em">
   </i></button></div>

<div class="d-flex justify-content-center">
   <button routerLink="/admin/edit_pick_up_routes/show_all_routes" type="button" class="btn btn-primary btn-menu border-0">
   Fill in from Database</button>
   <button type="button" class="btn btn-primary btn-menu border-0">
   Fill in from Database</button>
</div>
<div class="d-flex justify-content-center">
   <button type="button" class="btn btn-primary btn-menu border-0">
   Fill in from Database   </button>
   <button type="button" class="btn btn-primary btn-menu border-0">
   Fill in from Database
   </button>
</div>
<div class="d-flex justify-content-center">
   <button type="button" class="btn btn-primary btn-menu border-0">
   Fill in from Database
   </button>
   <button type="button" class="btn btn-primary btn-menu border-0" style="background-color: transparent">
   </button>
</div>
