<div class="d-flex justify-content-center" style="margin-top: 3em; margin-bottom: 2em;">
   <button routerLink="/main" type="button" class="btn btn-nav"><i class="fas fa-arrow-left" style="font-size: 2em">
   </i></button>
   <h1>Daily Distribution</h1>
   <button type="button" class="btn btn-nav"><i class="fas fa-bars" style="font-size: 2em">
   </i></button>
</div>
<div class="d-flex justify-content-center">
   <div class="weight-font" style="min-width: 25em">The Connection Church 
   </div>
</div>

<div class="d-flex justify-content-right">
   <div class="weight-font" style="min-width: 20em">Lbs
   </div>
</div>

<div class="d-flex justify-content-center">
   <div class="weight-font" style="min-width: 25em">Breads</div>
   <input type="number" name="email" size="4"> <button type="button" class="btn"><i class="fas fa-plus-circle add"></i></button> 
</div>
<div class="d-flex justify-content-center">
   <div class="weight-font" style="min-width: 25em">Sweets</div>
   <input type="number" name="email" size="4"> <button type="button" class="btn"><i class="fas fa-plus-circle add"></i></button> 
</div>
<div class="d-flex justify-content-center">
   <div class="weight-font" style="min-width: 25em">Produce</div>
   <input type="number" name="email" size="4"> <button type="button" class="btn"><i class="fas fa-plus-circle add"></i></button> 
</div>
<div class="d-flex justify-content-center">
   <div class="weight-font" style="min-width: 25em">Meats</div>
   <input type="number" name="email" size="4"> <button type="button" class="btn"><i class="fas fa-plus-circle add"></i></button> 
</div>
<div class="d-flex justify-content-center">
   <div class="weight-font" style="min-width: 25em">Dry Food</div>
   <input type="number" name="email" size="4"> <button type="button" class="btn"><i class="fas fa-plus-circle add"></i></button> 
</div>
<div class="d-flex justify-content-center">
   <div class="weight-font" style="min-width: 25em">Non Food</div>
   <input type="number" name="email" size="4"><button type="button" class="btn"><i class="fas fa-plus-circle add"></i></button>
</div>
<div class="d-flex justify-content-center">
   <div class="weight-font" style="min-width: 25em">Backpack Prog.</div>
   <input type="number" name="email" size="4"> <button type="button" class="btn"><i class="fas fa-plus-circle add"></i></button> 
</div>
<div class="d-flex justify-content-center">
   <button type="button" class="btn btn-menu" style="background-color: #7DB1B1">Notes</button>
   <button type="button" class="btn btn-menu" style="background-color: #E0C341">Review</button>
</div>