h1 {
	font-family: 'Open Sans', serif;
	color: #ffffff;
} 

.route-style {
	color: #ffffff;
	text-align: left;
	background-color: #3C3B3D;
}

.list-group-item {
	background-color: #3C3B3D;
	border-radius: 0;
}

.btn-nav {
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	color: #ffffff;
	margin-left: 3em;
	margin-right: 3em;
}

.btn-primary {
	background-color: #7DB1B1;
}


.btn-menu {
	margin-top: 2rem;
	width: 15rem;
	height: 5rem;
	margin-left: 2rem;
	marign-right: 2rem;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	color: #ffffff;
	margin-bottom: 2rem;
}

.weight-font {
	color: #ffffff;
	font-family: 'Open Sans', sans-serif;
	margin-top: 1em;
	margin-left: 1em;


}

input[type=number]{
	margin-top:1em;
    width: 50px;
    height: 40px;
} 

.add {
	margin-top: 5px;
	margin-left: 13px;
	font-size: 3em;
	color: #7DB1B1;
}

.sub {
	color: #ffffff;
	margin-left: 15px;
	margin-top: 11px;
	background-color: #E0C341;
	height: 50px;
}
